@import "~assets/styles/mixins";

.main-page {
  padding: 0 50px;

  @include small {
    padding: 0;
  }
  .main-page__content {
    background: url("../../assets/images/main_background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.hero-section {
  align-items: center;
  display: flex;
  height: 792px;
  justify-content: center;
  width: 100%;

  .hero-section__content {
    color: $white;
  }

  .hero-section__title,
  .hero-section__subtitle {
    text-align: center;
    text-transform: uppercase;
  }

  .hero-section__title {
    font-size: 112px;
    letter-spacing: 1.5rem;

    @include medium {
      font-size: 80px;
      letter-spacing: 1.1rem;
    }

    @include small {
      font-size: 50px;
      letter-spacing: 1.1rem;
    }
  }
}
