html {
    box-sizing: border-box;
    height: 100vh;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

.header {
    height: 60px;
    padding: 15px 10px 0;
    margin-bottom: 10px;
}

.main-panel {
    margin: 0 10px;
    display: flex;
    justify-content: space-between;
}