html {
    box-sizing: border-box;
    height: 100vh;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    margin: 10px;
}

.main-panel {
    display: flex;
    justify-content: space-between;
}