@import "./fonts";

/**** colors ****/
$bg-gray: #eaeaec;
$black: #333333;
$black--50: rgba(51, 51, 51, 0.5);
$brown: #b97f6d;
$white: #ffffff;

/**** fonts ****/
$merriweather: "Merriweather";

/**** sreen sizes ****/
$small: 600px;
$medium: 900px;
$large: 1200px;
